<h1>Exam Details!</h1>
<h4>This Exam is of:<%= @exam.title %></h4>
<h4>Description of Exam:<%= @exam.description %></h4>
<h4>Total Marks:<%= @exam.marks %></h4>
<h4>Publish on:<%= @exam.show_exam %></h4>